* {margin:0;}
body{ min-height:100vh; margin:0; position:relative; }
header{ min-height:50px; background:lightcyan; }

footer {
  position: absolute;
  background-color: #ada6a6da;
  bottom: 0;
  width: 100%;
  height: 20px;
}

.search-button {
  display: inline-flex;
  padding: 10px 20px;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: gray;
  color: white;
  border: solid;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 5px;
  margin-left: 10px;
  vertical-align: top; 
}

.search-button:hover {
  background-color: darkgray;
}

.input-container {
  display: flex;
  align-items: flex-start; 
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
}

.input-filter,
.input-search {
  width: 600px;
}

.input-left {
  margin-left: 15px;
}

.input-right {
  margin-right: 15px;
}

.table-div{
  padding-top: 10px;
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
}

.input-search{
    width: 600px;
    margin-bottom: 10px;
}

.homepage{
  font-size: 25px;
}